<%- include('templates/navbar') %>

    <% if (isAdmin) { %>
        <div class="table-responsive">
            <form method="POST" action="/updateUserRole?_method=PUT" id="userActionForm">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">API Requests</th>
                            <th scope="col">Admin Status</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <td>
                                    <%= user.username %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.apiRequests %>
                                </td>
                                <td>
                                    <%= user.isAdmin ? 'Yes' : 'No' %>
                                </td>
                                <td>
                                    <input type="checkbox" name="selectedUsers" value="<%= user._id %>">
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <input type="hidden" name="_method" value="put">
                <button type="submit" id="updateButton">Update Selected Users to Admin</button>
                <button type="submit" id="deleteButton">Delete Selected Users</button>
            </form>
            <br>
            <br>
            <!-- Table for API requests -->
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Method</th>
                        <th scope="col">EndPoint</th>
                        <th scope="col">Total Requests</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user=> { %>
                        <% ['GET|/admin', 'GET|/members' , 'GET|/logout' , 'POST|/callAPI' , 'POST|/login'
                            , 'POST|/signup' , 'PUT|/updateUserRole' , 'DELETE|/deleteUserRole' ].forEach(route=> {
                            %>
                            <% const [method, endpoint]=route.split('|')%>

                                <tr>
                                    <td>
                                        <%= user.username %>
                                    </td>
                                    <td>
                                        <%= method %>
                                    </td>
                                    <td>
                                        <%= endpoint %>
                                    </td>
                                    <td>
                                        <% if (endpoint==='/admin' ) { %>
                                            <%= user.getAdminPage %>
                                                <% } else if (endpoint==='/members' ) { %>
                                                    <%= user.getMembersPage %>
                                                        <% } else if (endpoint==='/logout' ) { %>
                                                            <%= user.getLogoutPage %>
                                                                <% } else if (endpoint==='/callAPI' ) { %>
                                                                    <%= user.callAPIRequests %>
                                                                        <% } else if (endpoint==='/login' ) { %>
                                                                            <%= user.loginRequests %>
                                                                                <% } else if (endpoint==='/signup' ) {
                                                                                    %>
                                                                                    <%= user.signupRequests %>
                                                                                        <% } else if
                                                                                            (endpoint==='/updateUserRole'
                                                                                            ) { %>
                                                                                            <%= user.updateUserRequests
                                                                                                %>
                                                                                                <% } else if
                                                                                                    (endpoint==='/deleteUserRole'
                                                                                                    ) { %>
                                                                                                    <%= user.deleteUserRequests
                                                                                                        %>
                                                                                                        <% } %>
                                    </td>
                                </tr>
                                <% }); %>
                                    <% }); %>


                </tbody>
            </table>
        </div>
        <script src="/js/formActions.js"></script>
        <% } %>

            <%- include('templates/footer') %>

                <!-- <script>

                    document.getElementById('updateButton').addEventListener('click', function() {
                        let form = document.getElementById('userActionForm');
                        form.action = '/updateUserRole?_method=PUT';
                        form.submit();
                    })

                    document.getElementById('deleteButton').addEventListener('click', function() {
        var form = document.getElementById('userActionForm');
        form.action = '/deleteUser?_method=DELETE';
        form.submit();
    });

                </script> -->