<%- include('templates/navbar') %>

    <% if (isAdmin) { %>
        <div class="table-responsive">
            <form method="POST" action="/updateUserRole?_method=PUT" id="userActionForm">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">API Requests</th>
                            <th scope="col">Admin Status</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <td>
                                    <%= user.username %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.apiRequests %>
                                </td>
                                <td>
                                    <%= user.isAdmin ? 'Yes' : 'No' %>
                                </td>
                                <td>
                                    <input type="checkbox" name="selectedUsers" value="<%= user._id %>">
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <input type="hidden" name="_method" value="put">
                <button type="button" onclick="updateRole()">Update Selected Users to Admin</button>
                <button type="button" onclick="deleteUser()">Delete Selected Users</button>
                <br>
                <br>
                <!-- Table for API requests -->
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Method</th>
                            <th scope="col">EndPoint</th>
                            <th scope="col">Total Requests</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% users.forEach(user=> { %>
                            <tr>
                                <td>
                                    <%= user.username %>
                                </td>
                                <td>
                                    <%= user.getMethod %>
                                </td>
                                <td>
                                    <%= user.getEndpoint %>
                                </td>
                                <td>
                                    <%= user.getAdminPage %>
                                </td>
                            </tr>

                            <% }); %>
                    </tbody>
                </table>
        </div>
        <script src="/js/formActions.js"></script>
        <% } %>

            <%- include('templates/footer') %>

                <!-- <script>

                    document.getElementById('updateButton').addEventListener('click', function() {
                        let form = document.getElementById('userActionForm');
                        form.action = '/updateUserRole?_method=PUT';
                        form.submit();
                    })

                    document.getElementById('deleteButton').addEventListener('click', function() {
        var form = document.getElementById('userActionForm');
        form.action = '/deleteUser?_method=DELETE';
        form.submit();
    });

                </script> -->